@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Bienvenue sur Recipe.com</h3>
    <h2>Le site qui vous aide à conserver la recette de vos plats préférés.</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/Pictures/Logos/pasta.jpg" class="img-fluid rounded-start" alt="Une Image de pâtes">
            </div>
            <div class="col-md-8">
                <div class="">
                    <h5 class="card-title">Avez-vous déjà eu envie de conserver une recette ?</h5>
                    <p class="card-text">
                        Grâce à Recipe.com, vous pouvez enregistrer vos recettes préférées et consulter les recettes publiques d'autres utilisateurs.
                        Votre recette peut être privée où publique c'est à dire accessible à tous les utilisateurs.
                        Vous pouvez apporter un commentaire sur une autre recette pour l'améliorer ou proposer votre approche dans la préparation.
                        Attention tout commentaire innaproprié reporté ou déceler par nos services serra supprimer et peut conduire à l'expulsion de l'utilisateur.
                        Enfin, pour un meilleur expérience pour tous, veuillez rentrer tous les champs demandés lors de vos créations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
